<nav class="navbar pb-4 navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" href="#">Mongo Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles</a>
      </li>
      <li class="nav-item">
      <button class="btn btn-primary bg-danger text-white" id="btnScraping" role="button"><a href="/all">Scrape New Articles</a></button>
    <button class="btn btn-primary bg-danger text-white" id="clear" type="submit">Clear Articles</button>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid" style="background-image: url(https://images.sftcdn.net/images/t_app-cover-l,f_auto/p/63d50700-9b28-11e6-82a4-00163ed833e7/3971813161/yahoo-news-digest-screenshot.jpg); background-size:cover;background-repeat: no-repeat;  background-position:   center;">
  <div class="container">
    <h1 class="display-4 text-white">Mongo Scraper</h1>
    <br><br><br><br><br><br>
    
    <h1 class="display-4 text-white text-left">Yahoo news Scraper Edition</h1>
  </div>
</div>

<div class="alert alert-warning bg-primary pb-4 text-center text-white" role="alert">
  <strong>What would you like to do?!</strong>
  <br>

</div>
  <p class="text-center text-white"><a href="/saved">Go Back To Saved Articles</a></p>

  <div class="container-fluid" id="articles"></div>
  
    <div class=row>
        <div class="col-12">
            
            {{#each scrape}}
            
                <div class="card w-90">
                    <div class="card-header text-white bg-primary">
                        <a href={{ this.url}} target="_blank" class="text-white">
                            <h2>{{ this.title}}</h2>
                        </a>
                    </div>
                   
                    <div class="card-body">
                        <p class="card-text">
                            {{this.paragraph}}
                        </p>
                        <button id="{{this._id}}" class="btn btn-danger save-btn">Save Article</button>
                    </div>
                </div>
                
              
            {{/each}}
           
                <div class="card text-white bg-warning w-90 p-1">
                    <div class="card-body text-center">
                        Uh oh. Looks like we don't have any new articles
                    </div>
                </div>
           
        </div>
    </div>
 <script type="text/javascript">

$(document).ready(function(){

  $("#saved").on("click", function(){
    alert("click")
  })
 $(".save-btn").click(function(event) {
        event.preventDefault();
        const button = $(this);
        const id = button.attr("id");
        $.ajax(`/save/${id}`, {
            type: "PUT"
        }).then(function() {
            const alert = `
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Your note has been saved!
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>`
            button.parent().append(alert);
            }
        );
});
})
  </script>


  